spring:
  application:
    name: spring-cloud-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/baihd/SpringCloudConfig.git    # 配置git仓库的地址
          search-paths: config                             # git仓库地址下的相对地址，可以配置多个，用,分割。
          username: baihd                                        # git仓库的账号
          password: 1116810101bhd                                    # git仓库的密码
  rabbitmq:
    host: 10.0.16.150
    port: 5672
    username: guest
    password: guest

server:
  port: 8001

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8000/eureka/

management:
  security:
    enabled: false
